/* --- Founding 100 Modal --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding: 2vh 0;
}

.founding-100-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.07);
    width: 70%;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    height: 80%;
    padding: 7px;
    position: absolute;
    top: 50%;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.07);
    left: 50%;
    transform: translate(-50% , -50%);
}

.f-100-header {
    width: 50%;
    height: 100%;
    background: black;
    border-radius: 35px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.07);
    overflow: hidden;
}

.f-100-header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 280px;
    z-index: 10;
}

.f-100-content {
    width: 50%;
    color: #EAEAEA;
    font-family: 'Inter', sans-serif;
}

.close-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    height: 20px;
    cursor: pointer;
    z-index: 11;
}

.f-100-section {
    padding: 0 50px;
}

.f-100-section:not(:first-child) {
    margin-top: 30px;
}

.f-100-section p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #0e0e0e;
}

.f-100-section-first {
    margin-bottom: -10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.f-100-section-first p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.75px;
    color: rgba(0, 0, 0, 0.85);
}

.benefits-grid {
    display: grid;
    gap: 1.5rem;
}

.benefit-item {
    margin-top: 20px;
}

.benefit-title {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-bottom: 3.5px;
}

.benefit-title img {
    height: 12px;
    width: 12px;
}

.f-100-closing {
    text-align: center;
    font-style: italic;
    margin: 2rem auto 50px;
}