.workspace-join-section-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 100px 15%;
    overflow: hidden;
    position: relative;
}

.workspace-join-section-wrapper>img {
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(0px);
    width: 100%;
    display: none;
    z-index: 90;
    width: 100vw;
}

.workspace-join-central-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.workspace-join-central-wrapper .workspace-join-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 15%;
}

.workspace-join-central-wrapper .workspace-join-text-wrapper img {
    height: 580px;
    position: absolute;
    top: -200%;
    z-index: 10;

}

.animate-glow {
    animation: glow_come 1.25s ease forwards;
}

@keyframes glow_come {
    0% {
        top: -200%;
    }

    100% {
        top: -11%;
    }
}

@keyframes glow_come {
    0% {
        top: -200%;
    }

    100% {
        top: -11%;
    }
}

.workspace-join-central-wrapper .workspace-join-text-wrapper>p:nth-child(2) {
    font-size: 65px;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: -1.75px;
    text-align: center;
    line-height: 1;
    z-index: 10;
    width: 70%;
}






.workspace-mobile-join-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 70%;
}

.workspace-mobile-join-text-wrapper img {
    height: 520px;
    position: absolute;
    top: -200%;
    z-index: 10;
    animation: glow_come 1.25s ease forwards;

}

.workspace-mobile-join-text-wrapper img.animate-glow {
    animation: glow_come1 1.25s ease forwards;
}

@keyframes glow_come1 {
    0% {
        top: -200%;
    }

    100% {
        top: -7%;
    }
}

@keyframes glow_come {
    0% {
        top: -200%;
    }

    100% {
        top: -11%;
    }
}

.workspace-mobile-join-text-wrapper>p:nth-child(2) {
    font-size: 40px;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: -1.75px;
    text-align: center;
    line-height: 1;
    z-index: 10;
    width: 90%;
}

.workspace-mobile-join-text-wrapper>p:nth-child(3) {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Inter;
    text-align: center;
    line-height: 1.65;
    z-index: 10;
    color: grey;
    margin-top: 15px;
    width: 80%;
}















.workspace-join-input-area {
    margin-top: 50px;
    min-width: 500px;
    border-radius: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}




.workspace-join-input-area-i {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.workspace-join-input-area-i:last-child {
    padding-top: 0 !important;
    margin-top: 7px;
}

.workspace-join-input-area-i:first-child .workspace-join-input-area-left {}

.workspace-join-input-area-i:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-join-input-area-i:first-child .workspace-join-input-area-left p:first-child {
    font-size: 16px;
}

.workspace-join-input-area-i:first-child .workspace-join-input-area-left p:last-child {
    font-size: 13px;
    margin-top: 2px;
    color: grey;
}

.workspace-join-input-area-i-right {
    display: flex;
    align-items: center;
}

.workspace-join-input-area-i-right img {
    height: 30px;
    width: 30px;
    border-radius: 100px;
}

.workspace-join-input-area-i-right img:not(:first-child) {
    margin-left: -5%;
}

.input-area {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 100px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.input-area input {
    width: 70%;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 15px;
    font-family: Inter;
    font-size: 14px;
}

.input-area input:autofill {
    border: none;
    background: none;
}


.input-area button {
    width: 25%;
    padding: 10px 15px;
    border-radius: 100px;
    font-size: 12px;
    white-space: nowrap;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.input-area button:hover,
.input-area button:focus {
    border: none;
}


.followus-wrapper {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 13px;
}

.followus-wrapper p {
    margin-right: 5px;
    font-size: 13px;
    color: grey;
    font-weight: 500;
}

.followus-wrapper a {}

.followus-wrapper a img {
    height: 15px;
    width: 15px;
    opacity: 0.75;
}






/* MOBILE VIEW */


.workspace-mobile-join-section {
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding: 30px;
}




.workspace-mobile-input-area {
    margin-top: 50px;
    width: calc(100%);
    border-radius: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}




.workspace-mobile-input-area .workspace-mobile-input-area-i {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.workspace-mobile-input-area .workspace-mobile-input-area-i:first-child{
    padding: 15px 15px;
}

.workspace-mobile-input-area-i:last-child {
    padding-top: 0 !important;
    margin-top: 7px;
}

.workspace-mobile-input-area-i:first-child .workspace-mobile-input-area-left {}

.workspace-mobile-input-area-i:first-child {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.workspace-mobile-input-area-i:first-child .workspace-mobile-input-area-left p:first-child {
    font-size: 16px;
}

.workspace-mobile-input-area-i:first-child .workspace-mobile-input-area-left p:last-child {
    font-size: 13px;
    margin-top: 2px;
    color: grey;
}

.workspace-mobile-input-area-i-right {
    display: flex;
    align-items: center;
}

.faces-wrapper{
    display: flex;
        align-items: center;
}

.workspace-mobile-input-area-i-right img {
    height: 25px;
    width: 25px;
    border-radius: 100px;
}

.workspace-mobile-input-area-i-right img:not(:first-child) {
    margin-left: -5%;
}

.workspace-mobile-input-area-i .input-area {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px !important;
    justify-content: space-between;
    padding: 5px;
    border-radius: 100px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.workspace-mobile-input-area-i .input-area input {
    width: 60%;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    margin-left: 15px;
    font-family: Inter;
    font-size: 13.75px;
}

.workspace-mobile-input-area-i .input-area input:autofill {
    border: none;
    background: none;
}


.workspace-mobile-input-area-i .input-area button {
    width: 30%;
    padding: 10px 15px;
    border-radius: 100px;
    font-size: 12px;
    white-space: nowrap;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(61.2% 61.22% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.workspace-mobile-input-area-i .input-area button:hover,
.workspace-mobile-input-area-i .input-area button:focus {
    border: none;
}


.followus-wrapper {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 13px;
}

.followus-wrapper p {
    margin-right: 5px;
    font-size: 13px;
    color: grey;
    font-weight: 500;
}

.followus-wrapper a {}

.followus-wrapper a img {
    height: 15px;
    width: 15px;
    opacity: 0.75;
}