.page-wrapper{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: black;

}


.banner {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(270deg, #8000ff, #3017ee, #d013de);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
  position: relative;
  
}

.close-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    height: 12px;
    opacity: 0.75;
}

.close-icon:hover{
    cursor: pointer;
    opacity: 1;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-content-wrapper{
    display: flex;
    align-items: center;
    gap: 14px;
}

.banner-content-wrapper img{
    height: 17px;
    /* width: 24px; */
}

.banner-content-wrapper p:nth-child(2){
    font-weight: 600;
}

.banner-content-wrapper p:nth-child(3){
    font-weight: 600;
    font-family: Inter;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}

.banner-content-wrapper p:nth-child(3):hover{
    background-color: rgba(255, 255, 255, 0.14);
}

.banner-content-wrapper p{
    font-size: 13px;
    letter-spacing: -0.25px;
}

.contact-hero-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contact-hero-text-wrapper{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-hero-text-wrapper .title{

    font-family: Overpass;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-hero-text-wrapper .heading{
    font-size: 40px;
    font-weight:600;
    font-family: Inter;
    letter-spacing: -1px;
    line-height: 1.25;
    margin: 10px 0;
}

.contact-hero-text-wrapper .subheading{
    width: 55%;
    line-height: 1.65;
    font-size: 20px;
    color: grey;
}


.ripple {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #34d399; /* A nice green color */
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
}

.ripple::before,
.ripple::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #34d399;
  animation: ripple-effect 1.5s infinite;
}

.ripple::after {
  animation-delay: -0.75s;
}

@keyframes ripple-effect {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  100% {
    width: 250%; /* Controls how far the ripple expands */
    height: 250%;
    opacity: 0;
  }
}



.contact-content{
    width: 90%;
    padding: 0 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    margin-bottom: 100px;
}

.contact-content .row-one{
    height: 300px;
    width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.025);
    padding: 28px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}


.contact-content .row-one::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    right: -50%;
    top: -50%;
    background : linear-gradient( to bottom left , rgba(255, 255, 255, 0.5) , transparent);
    filter : blur(50px);
    border-radius: 500px;
    transition: all 0.3s;
    z-index: 0;

}

.contact-content .row-one:hover::before{

    right: -20%;
    top: -20%;

}


.contact-content-header{

}

.contact-content-header img{
    height: 20px;
}

.contact-content-header p:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.contact-content-header p:nth-child(3){
    font-weight: 500;
    font-size: 15px;
    color: grey;
    width: 75%;
    line-height: 1.65;
    margin-top: 7px;
}

.contact-content-header-2 p:nth-child(3){
    width: 85% !important;
}

.contact-content-header-3 p:nth-child(3){
    width: 85% !important;
}


.row-two{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 350px;

}

.contact-i{
    width: 50%;
    height: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.025);
    padding: 28px;
    position: relative;
    overflow: hidden;
}

.contact-i::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    right: -50%;
    top: -50%;
    background : linear-gradient( to bottom left , rgba(255, 255, 255, 0.5) , transparent);
    filter : blur(50px);
    border-radius: 500px;
    transition: all 0.3s;
    z-index: 0;

}

.contact-i:hover::before{

    right: -20%;
    top: -20%;

}

.contact-button{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 7px 15px;
    border-radius: 100px;
    width: min-content;
    margin-top: 20px;
    white-space: nowrap;
    font-size: 13px;
    position: absolute;
    bottom: 28px;
    left: 28px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 600;
}

.contact-i-1 .contact-button:hover{
    background-color: white;
    color: black;
}



.contact-i-2,
.contact-i-3{
    opacity: 0.75;
}

.avail-wrapper{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    gap: 7px;
}


.avail-wrapper img{
    height: 12px;
    width: 12px;
    margin-top: -2px;
}

.avail-wrapper p{
    font-size: 13px;
    font-family: Overpass;
}

.contact-i:hover .avail-wrapper{
    display: flex;
}





.contact-fullscreen-form {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.contact-form-header {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.modal-close-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}