.landing-page {
    position: relative;
    width: 100%;
    height: 140vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-content {
    width: 100%;
    padding: 0px 15%;
    height: calc(100%);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.grecaptcha-badge {
    visibility: hidden;
}


.landing-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 400px;
    bottom: 0px;
    left: 0;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, black);
}

.landing-content-text-wrapper {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dynamic-phrase {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    line-height: 1.15;
    letter-spacing: -1.95px;
}

.hero-subtitle {
    margin-top: 14px;
    font-size: 16px;
    width: 75%;
    line-height: 1.75;
    color: #8a8f98;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    filter: blur(5px);
}

.waitlist-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.07);
    width: min-content;
    padding: 5px;
    margin-top: 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.07);
}

.waitlist-wrapper input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    width: 250px;
    margin-left: 15px;
}

.waitlist-wrapper button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    color: white;
    border-radius: 100px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.07);
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.waitlist-wrapper button:focus {
    outline: none;
    border: none;
}

.waitlist-wrapper button::before {
    position: absolute;
    content: '';
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.07), transparent);
    border-radius: 100px;
    z-index: 1;
    filter: blur(10px);
}


.joined-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.joined-wrapper img {
    height: 18px;
}

.joined-wrapper p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.joined-wrapper p span {
    font-weight: 600;
}




.landing-banner {
    transform: translateX(0%) !important;
    bottom: -0% !important;
    z-index: 0 !important;
    width: 100%;
    min-height: 400px;
}

.landing-banner img {
    width: 90vw !important;
    border-radius: 10px;
}

.landing-banner img:nth-child(1) {
    z-index: 90;
    position: absolute;
    opacity: 0;
    animation: banner1 1s forwards 0.3s;
}

.landing-banner img:nth-child(2) {
    z-index: 100;
    opacity: 0;
    position: absolute;
    animation: banner2 1s forwards;
}

@keyframes banner1 {
    0% {
        left: -15%;
        top: 4%;
        opacity: 0;
    }

    100% {
        left: -10%;
        top: 0%;
        opacity: 1;
    }
}

@keyframes banner2 {
    0% {
        left: 12%;
        top: 20%;
        opacity: 0;
    }

    100% {
        left: 20%;
        top: 15%;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .landing-page-mobile {
        padding: 20px 30px;
        /* Your specified padding */
    }

    .dynamic-phrase {
        font-size: 25px !important;
        /* Increase font size for this range */
        letter-spacing: -1px;
    }

    .hero-subtitle {
        font-size: 15px;
    }

    .waitlist-wrapper {
        flex-direction: row;
        /* Horizontal layout for the form */
        width: 90%;
        max-width: 420px;
        padding: 5px;
        gap: 5px;
    }

    .waitlist-wrapper input {
        width: 60%;
        text-align: left;
        margin-left: 15px;
        font-size: 13px;
    }

    .waitlist-wrapper button {
        width: auto;
        flex-grow: 1;
        /* Allow button to grow */
        margin-left: 0;
    }

    /* Refined banner animations for this specific range */
    @keyframes banner1 {
        from {
            transform: translate(-20%, 20%) scale(0.8);
            opacity: 0;
        }

        to {
            transform: translate(-10%, 5%) scale(1);
            opacity: 1;
        }
    }

    @keyframes banner2 {
        from {
            transform: translate(20%, 40%) scale(0.8);
            opacity: 0;
        }

        to {
            transform: translate(10%, 20%) scale(1);
            opacity: 1;
        }
    }
}





@media (max-width: 768px) {
    .landing-page-mobile {
        padding: 20px 30px;
        height: 95vh !important;
        overflow: hidden !important;
        position: relative !important;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    .landing-page-mobile::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30%;
        width: 100%;
        background: linear-gradient(to bottom, transparent, black);
        z-index: 101;
    }

    .landing-page-mobile::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 10%;
        background: linear-gradient(to right, transparent, black);
        z-index: 101;
    }

    .landing-page {}

    .landing-content {
        padding: 10px 5%;
        background-color: rebeccapurple;
    }

    .dynamic-phrase {
        font-size: 35px;
        width: 100%;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    .hero-subtitle {
        width: 100% !important;
        font-size: 14px;
    }

    


    .waitlist-wrapper {
        display: flex;
        align-items: center;
        gap: 5px !important;
        border-radius: 100px;
        width: min-content;
        width: 97%;
        padding: 3px;
        margin-top: 25px;
        border: 0.5px solid rgba(255, 255, 255, 0.07);
    }

    .waitlist-wrapper input {
        background-color: transparent;
        color: white;
        z-index: 100 !important;
        border: none;
        outline: none;
        font-family: 'Inter', sans-serif;
        width: 60% !important;
        margin-left: 15px;
        font-size: 13px !important;
    }

    .waitlist-wrapper button {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 9px 15px;
        color: white;
        border-radius: 100px;
        white-space: nowrap;
        font-size: 12px !important;
        font-weight: 500;
        width: 40%;

        border: 0.5px solid rgba(255, 255, 255, 0.07);
        position: relative;
        overflow: hidden;
        z-index: 10;
    }

    .waitlist-wrapper button:focus {
        outline: none;
        border: none;
    }

    .waitlist-wrapper button::before {
        position: absolute;
        content: '';
        height: calc(100% - 5px);
        width: calc(100% - 5px);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle at center, rgba(255, 255, 255, 0.07), transparent);
        border-radius: 100px;
        z-index: 1;
        filter: blur(10px);
    }

    .landing-mobile-banner {
        transform: translateX(0%) !important;
        bottom: -0% !important;
        z-index: 0 !important;
        width: 100%;
        min-height: 50vh;
    }

    .landing-mobile-banner img {
        width: 200vw !important;
        border-radius: 10px;
    }

    .landing-mobile-banner img:nth-child(1) {
        z-index: 90;
        position: absolute;
        opacity: 0;
        animation: banner1 1s forwards 0.3s;
    }

    .landing-mobile-banner img:nth-child(2) {
        z-index: 100;
        opacity: 0;
        position: absolute;
        animation: banner2 1s forwards;
    }

    @keyframes banner1 {
        0% {
            left: -10%;
            top: 10%;
            opacity: 0;
        }

        100% {
            left: -0%;
            top: 0%;
            opacity: 1;
        }
    }

    @keyframes banner2 {
        0% {
            left: 25%;
            top: 30%;
            opacity: 0;
        }

        100% {
            left: 50%;
            top: 15%;
            opacity: 1;
        }
    }
}